---
# The main Sass file needs front matter (the dashes are enough)
---

@import "base";
@import "layout";

#intro {
  text-align: center;
  font-style: italic;
  color: #666;
  font-size: 18px;
}

.hero {
  background: #f6f6f6;
  padding: 50px 0;
}

.logo {
  height: 114px;
  max-width: 75%;
  object-fit: contain;
  display: block;
  margin: 20px auto;
}

#using-ruby {
  text-align: center;
  margin: 20px;
}

#using-ruby a {
  margin: 20px;
  padding: 10px;
  line-height: 50px;
  border-radius: 3px;
  font-size: 18px;
  font-family: "Source Code Pro", "Georgia";
  font-weight: 400;
  white-space: nowrap;
}

#using-ruby a:visited {
  color: #d26e7a;
}

#using-ruby a:hover,
#using-ruby a:focus {
  color: #fff;
  background: #d0021b;
  text-decoration: none;
}

#timeline {
  text-align: center;
}

#date {
  font-size: 24px;
  font-family: "Source Code Pro", "Georgia";

  @media screen and (max-width: 768px) {
    display: block;
  }
}
