---
# The main Sass file needs front matter (the dashes are enough)
---

$body-background-color: #a5cee0;
$body-text-color: #333333;
$link-color: #41768c;
$link-visited-color: #66418c;

@import "icons";
@import "base";
@import "layout";

#next_meeting {
  .upb_events {
    margin-top: 1em;
  }

  .upb_date {
    font-weight: bold;
    display: inline;
  }

  .upb_event {
    margin-bottom: 1em;
    margin-left: 2em;
  }
}

.upb_more a {
  background: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/upcoming.gif) 0 50% no-repeat;
  display: block;
  float: left;
  min-height: 16px;
  padding-left: 20px;
}

#mailing_list {
  .more {
    background: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/google_groups.png) 0 50% no-repeat;
    display: inline-block;
    min-height: 16px;
    padding-left: 20px;
  }
}
