h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Source Code Pro', 'Georgia';
  font-weight: 700;
}

h2 {
  font-size: 22px;
  margin: 20px 0;
}

h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

section {
  margin: 60px 0;
}

hr {
  width: 100px;
}

a {
  color: #D0021B;
}
a:hover,
a:focus {
  color: #D0021B;
}