h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Source Code Pro", "Georgia";
  font-weight: 700;
}

h2 {
  font-size: 22px;
  margin: 20px 0;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.m-5 {
  margin-block: 60px;
}

hr {
  width: 100px;
}

a {
  color: #d0021b;
}

a:hover,
a:focus {
  color: #d0021b;
}
