#about {
  .content {
    background-image: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/32x32/users.png);
  }
}

#mailing_list {
  .content {
    background-image: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/32x32/new_mail.png);
  }
}

#next_meeting {
  .content {
    background-image: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/32x32/splash_green.png);
  }
}

#stream {
  .content {
    background-image: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/32x32/monitor.png);
  }
}

#what {
  .content {
    background-image: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/32x32/ruby.png);
  }
}

#who {
  .content {
    background-image: url(http://mentalized.net/files/copenhagenrb.dk/images/icons/32x32/smiley.png);
  }
}
