body {
  border-bottom: 10px solid #D0021B;
}



#header {
  height: 400px;
  background: url('/images/copenhagen.png') no-repeat center center;
  background-size: cover;
  
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
#header h1 {
  margin: 0;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0,0,0, .7);
}